* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

.text--header--about h1 {
  margin: 20px 0px;
}
.text--header--about p {
  margin-bottom: 40px;
}

.text--header--about {
  align-items: center;
  text-align: center;
}
.text--header--about .imgWithButton {
  position: relative;
}
.text--header--about .imgWithButton img {
  width: 350px;
  height: auto;
}
.text--header--about .imgWithButton i {
  font-size: 40px;
}
.text--header--about .imgWithButton .hereBtn {
  position: absolute;
  top: 25%;
  left: 28%;
  z-index: 1;
  background-color: red;
  color: #fff;
  text-decoration: none;
  border-radius: 50%;
  padding: 52px 25px;
  font-size: 24px;
  transition: 0.3s ease-in-out;
}
.text--header--about .imgWithButton .hereBtn:hover {
  transform: scale(1.1);
}
.text--header--about .text--header--about--img {
  overflow: hidden;
  width: 1000px;
  box-shadow: 0px 4px 32px 11px rgba(34, 60, 80, 0.08);
}
.text--header--about .text--header--about--img .hereBtn {
  position: absolute;
  top: 800%;
  left: 0;
  z-index: 1;
  color: #fff;
  background-color: red;
  border-radius: 50%;
  padding: 32px 15px;
  text-decoration: none;
  transition: 0.3s all;
}
.text--header--about .text--header--about--img .hereBtn:hover {
  transform: scale(1.3);
  color: black;
}
.text--header--about .text--header--about--img img {
  width: 1000px;
  height: auto;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}
.text--header--about .text--header--about--img img:hover {
  transform: scale(1.05);
}
.text--header--about .text--header--about--img img .imgWithButton {
  width: 500px;
  height: 200px;
}
.text--header--about .text--header--about--imgDop {
  display: flex;
  flex-wrap: wrap;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG {
  cursor: pointer;
  color: #fff;
  font-weight: 600;
  font-size: 23px;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG__1 {
  position: relative;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG__1 img {
  width: 1000px;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG__1 .img--text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(153, 153, 153, 0.247);
  width: 100%;
  height: 700px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  padding-top: 300px;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG__1 .img--text:hover {
  opacity: 1;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG__2 {
  position: relative;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG__2 img {
  width: 500px;
  height: 300px;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG__2 .img--text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(153, 153, 153, 0.425);
  width: 100%;
  height: 300px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  padding-top: 120px;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG__2 .img--text:hover {
  opacity: 1;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG__3 {
  position: relative;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG__3 img {
  width: 500px;
  height: 300px;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG__3 .img--text {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(153, 153, 153, 0.247);
  width: 100%;
  height: 300px;
  opacity: 0;
  transition: 0.3s ease-in-out;
  padding-top: 120px;
}
.text--header--about .text--header--about--imgDop .HardskillsIMG__3 .img--text:hover {
  opacity: 1;
}
.text--header--about .text--header--about--imgDop .widthImg {
  width: 1000px;
  height: auto;
  cursor: pointer;
}
.text--header--about .text--header--about--imgDop .shortImg {
  width: 500px;
  height: auto;
}
.text--header--about .text--header--about--imgDop .shortImg2 {
  width: 500px;
  height: auto;
}/*# sourceMappingURL=style.css.map */